<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel desaparecidos2017 view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-viewfields2 {$brickclass_viewfields2}"><table class="fieldGrid fieldGrid2">

<tr>
<td>
	{BEGIN Id_fieldblock}
<div data-fieldname="Id" class="rnr-field style1 {$fielddispclass_Id}">
  <span class="rnr-label">{$label desaparecidos2017 Id}:</span>
  <span class="rnr-control style3">{$Id_value}</span>
</div>
{END Id_fieldblock}
	{BEGIN Estado_fieldblock}
<div data-fieldname="Estado" class="rnr-field style1 {$fielddispclass_Estado}">
  <span class="rnr-label">{$label desaparecidos2017 Estado}:</span>
  <span class="rnr-control style3">{$Estado_value}</span>
</div>
{END Estado_fieldblock}
	{BEGIN Mun_fieldblock}
<div data-fieldname="Mun" class="rnr-field style1 {$fielddispclass_Mun}">
  <span class="rnr-label">{$label desaparecidos2017 Mun}:</span>
  <span class="rnr-control style3">{$Mun_value}</span>
</div>
{END Mun_fieldblock}
	{BEGIN InvMin_fieldblock}
<div data-fieldname="InvMin" class="rnr-field style1 {$fielddispclass_InvMin}">
  <span class="rnr-label">{$label desaparecidos2017 InvMin}:</span>
  <span class="rnr-control style3">{$InvMin_value}</span>
</div>
{END InvMin_fieldblock}
	{BEGIN FInicio_fieldblock}
<div data-fieldname="FInicio" class="rnr-field style1 {$fielddispclass_FInicio}">
  <span class="rnr-label">{$label desaparecidos2017 FInicio}:</span>
  <span class="rnr-control style3">{$FInicio_value}</span>
</div>
{END FInicio_fieldblock}
	{BEGIN MinPub_fieldblock}
<div data-fieldname="MinPub" class="rnr-field style1 {$fielddispclass_MinPub}">
  <span class="rnr-label">{$label desaparecidos2017 MinPub}:</span>
  <span class="rnr-control style3">{$MinPub_value}</span>
</div>
{END MinPub_fieldblock}
	{BEGIN Ofic_fieldblock}
<div data-fieldname="Ofic" class="rnr-field style1 {$fielddispclass_Ofic}">
  <span class="rnr-label">{$label desaparecidos2017 Ofic}:</span>
  <span class="rnr-control style3">{$Ofic_value}</span>
</div>
{END Ofic_fieldblock}
	{BEGIN FExtrav_fieldblock}
<div data-fieldname="FExtrav" class="rnr-field style1 {$fielddispclass_FExtrav}">
  <span class="rnr-label">{$label desaparecidos2017 FExtrav}:</span>
  <span class="rnr-control style3">{$FExtrav_value}</span>
</div>
{END FExtrav_fieldblock}
	{BEGIN Nombre_fieldblock}
<div data-fieldname="Nombre" class="rnr-field style1 {$fielddispclass_Nombre}">
  <span class="rnr-label">{$label desaparecidos2017 Nombre}:</span>
  <span class="rnr-control style3">{$Nombre_value}</span>
</div>
{END Nombre_fieldblock}
	{BEGIN APat_fieldblock}
<div data-fieldname="APat" class="rnr-field style1 {$fielddispclass_APat}">
  <span class="rnr-label">{$label desaparecidos2017 APat}:</span>
  <span class="rnr-control style3">{$APat_value}</span>
</div>
{END APat_fieldblock}
	{BEGIN AMat_fieldblock}
<div data-fieldname="AMat" class="rnr-field style1 {$fielddispclass_AMat}">
  <span class="rnr-label">{$label desaparecidos2017 AMat}:</span>
  <span class="rnr-control style3">{$AMat_value}</span>
</div>
{END AMat_fieldblock}
	{BEGIN Sexo_fieldblock}
<div data-fieldname="Sexo" class="rnr-field style1 {$fielddispclass_Sexo}">
  <span class="rnr-label">{$label desaparecidos2017 Sexo}:</span>
  <span class="rnr-control style3">{$Sexo_value}</span>
</div>
{END Sexo_fieldblock}
	{BEGIN EdadA_fieldblock}
<div data-fieldname="EdadA" class="rnr-field style1 {$fielddispclass_EdadA}">
  <span class="rnr-label">{$label desaparecidos2017 EdadA}:</span>
  <span class="rnr-control style3">{$EdadA_value}</span>
</div>
{END EdadA_fieldblock}
	{BEGIN EdadM_fieldblock}
<div data-fieldname="EdadM" class="rnr-field style1 {$fielddispclass_EdadM}">
  <span class="rnr-label">{$label desaparecidos2017 EdadM}:</span>
  <span class="rnr-control style3">{$EdadM_value}</span>
</div>
{END EdadM_fieldblock}
	{BEGIN Nac_fieldblock}
<div data-fieldname="Nac" class="rnr-field style1 {$fielddispclass_Nac}">
  <span class="rnr-label">{$label desaparecidos2017 Nac}:</span>
  <span class="rnr-control style3">{$Nac_value}</span>
</div>
{END Nac_fieldblock}
	{BEGIN Origen_fieldblock}
<div data-fieldname="Origen" class="rnr-field style1 {$fielddispclass_Origen}">
  <span class="rnr-label">{$label desaparecidos2017 Origen}:</span>
  <span class="rnr-control style3">{$Origen_value}</span>
</div>
{END Origen_fieldblock}
	{BEGIN Escolaridad_fieldblock}
<div data-fieldname="Escolaridad" class="rnr-field style1 {$fielddispclass_Escolaridad}">
  <span class="rnr-label">{$label desaparecidos2017 Escolaridad}:</span>
  <span class="rnr-control style3">{$Escolaridad_value}</span>
</div>
{END Escolaridad_fieldblock}
	{BEGIN Est_fieldblock}
<div data-fieldname="Est" class="rnr-field style1 {$fielddispclass_Est}">
  <span class="rnr-label">{$label desaparecidos2017 Est}:</span>
  <span class="rnr-control style3">{$Est_value}</span>
</div>
{END Est_fieldblock}
	{BEGIN Compl_fieldblock}
<div data-fieldname="Compl" class="rnr-field style1 {$fielddispclass_Compl}">
  <span class="rnr-label">{$label desaparecidos2017 Compl}:</span>
  <span class="rnr-control style3">{$Compl_value}</span>
</div>
{END Compl_fieldblock}
</td>
<td>
	{BEGIN Ojos_fieldblock}
<div data-fieldname="Ojos" class="rnr-field style1 {$fielddispclass_Ojos}">
  <span class="rnr-label">{$label desaparecidos2017 Ojos}:</span>
  <span class="rnr-control style3">{$Ojos_value}</span>
</div>
{END Ojos_fieldblock}
	{BEGIN Piel_fieldblock}
<div data-fieldname="Piel" class="rnr-field style1 {$fielddispclass_Piel}">
  <span class="rnr-label">{$label desaparecidos2017 Piel}:</span>
  <span class="rnr-control style3">{$Piel_value}</span>
</div>
{END Piel_fieldblock}
	{BEGIN Cab_fieldblock}
<div data-fieldname="Cab" class="rnr-field style1 {$fielddispclass_Cab}">
  <span class="rnr-label">{$label desaparecidos2017 Cab}:</span>
  <span class="rnr-control style3">{$Cab_value}</span>
</div>
{END Cab_fieldblock}
	{BEGIN TCab_fieldblock}
<div data-fieldname="TCab" class="rnr-field style1 {$fielddispclass_TCab}">
  <span class="rnr-label">{$label desaparecidos2017 TCab}:</span>
  <span class="rnr-control style3">{$TCab_value}</span>
</div>
{END TCab_fieldblock}
	{BEGIN Cabcol_fieldblock}
<div data-fieldname="Cabcol" class="rnr-field style1 {$fielddispclass_Cabcol}">
  <span class="rnr-label">{$label desaparecidos2017 Cabcol}:</span>
  <span class="rnr-control style3">{$Cabcol_value}</span>
</div>
{END Cabcol_fieldblock}
	{BEGIN Nariz_fieldblock}
<div data-fieldname="Nariz" class="rnr-field style1 {$fielddispclass_Nariz}">
  <span class="rnr-label">{$label desaparecidos2017 Nariz}:</span>
  <span class="rnr-control style3">{$Nariz_value}</span>
</div>
{END Nariz_fieldblock}
	{BEGIN Labios_fieldblock}
<div data-fieldname="Labios" class="rnr-field style1 {$fielddispclass_Labios}">
  <span class="rnr-label">{$label desaparecidos2017 Labios}:</span>
  <span class="rnr-control style3">{$Labios_value}</span>
</div>
{END Labios_fieldblock}
	{BEGIN Menton_fieldblock}
<div data-fieldname="Menton" class="rnr-field style1 {$fielddispclass_Menton}">
  <span class="rnr-label">{$label desaparecidos2017 Menton}:</span>
  <span class="rnr-control style3">{$Menton_value}</span>
</div>
{END Menton_fieldblock}
	{BEGIN Cejas_fieldblock}
<div data-fieldname="Cejas" class="rnr-field style1 {$fielddispclass_Cejas}">
  <span class="rnr-label">{$label desaparecidos2017 Cejas}:</span>
  <span class="rnr-control style3">{$Cejas_value}</span>
</div>
{END Cejas_fieldblock}
	{BEGIN VFacial_fieldblock}
<div data-fieldname="VFacial" class="rnr-field style1 {$fielddispclass_VFacial}">
  <span class="rnr-label">{$label desaparecidos2017 VFacial}:</span>
  <span class="rnr-control style3">{$VFacial_value}</span>
</div>
{END VFacial_fieldblock}
	{BEGIN Delito_fieldblock}
<div data-fieldname="Delito" class="rnr-field style1 {$fielddispclass_Delito}">
  <span class="rnr-label">{$label desaparecidos2017 Delito}:</span>
  <span class="rnr-control style3">{$Delito_value}</span>
</div>
{END Delito_fieldblock}
	{BEGIN Particularidades_fieldblock}
<div data-fieldname="Particularidades" class="rnr-field style1 {$fielddispclass_Particularidades}">
  <span class="rnr-label">{$label desaparecidos2017 Particularidades}:</span>
  <span class="rnr-control style3">{$Particularidades_value}</span>
</div>
{END Particularidades_fieldblock}
	{BEGIN Nota_fieldblock}
<div data-fieldname="Nota" class="rnr-field style1 {$fielddispclass_Nota}">
  <span class="rnr-label">{$label desaparecidos2017 Nota}:</span>
  <span class="rnr-control style3">{$Nota_value}</span>
</div>
{END Nota_fieldblock}
	{BEGIN DescHechos_fieldblock}
<div data-fieldname="DescHechos" class="rnr-field style1 {$fielddispclass_DescHechos}">
  <span class="rnr-label">{$label desaparecidos2017 DescHechos}:</span>
  <span class="rnr-control style3">{$DescHechos_value}</span>
</div>
{END DescHechos_fieldblock}
	{BEGIN Obseva_fieldblock}
<div data-fieldname="Obseva" class="rnr-field style1 {$fielddispclass_Obseva}">
  <span class="rnr-label">{$label desaparecidos2017 Obseva}:</span>
  <span class="rnr-control style3">{$Obseva_value}</span>
</div>
{END Obseva_fieldblock}
	{BEGIN Status_fieldblock}
<div data-fieldname="Status" class="rnr-field style1 {$fielddispclass_Status}">
  <span class="rnr-label">{$label desaparecidos2017 Status}:</span>
  <span class="rnr-control style3">{$Status_value}</span>
</div>
{END Status_fieldblock}
	{BEGIN FAparicion_fieldblock}
<div data-fieldname="FAparicion" class="rnr-field style1 {$fielddispclass_FAparicion}">
  <span class="rnr-label">{$label desaparecidos2017 FAparicion}:</span>
  <span class="rnr-control style3">{$FAparicion_value}</span>
</div>
{END FAparicion_fieldblock}
	{BEGIN Oficio_fieldblock}
<div data-fieldname="Oficio" class="rnr-field style1 {$fielddispclass_Oficio}">
  <span class="rnr-label">{$label desaparecidos2017 Oficio}:</span>
  <span class="rnr-control style3">{$Oficio_value}</span>
</div>
{END Oficio_fieldblock}
	{BEGIN EstApar_fieldblock}
<div data-fieldname="EstApar" class="rnr-field style1 {$fielddispclass_EstApar}">
  <span class="rnr-label">{$label desaparecidos2017 EstApar}:</span>
  <span class="rnr-control style3">{$EstApar_value}</span>
</div>
{END EstApar_fieldblock}
</td>
</tr>
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Volver a la lista</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Cerrar ventana</a>
{END close_button}
{BEGIN edit_page_button}
<a href="#" class="rnr-button" {$edit_page_button_attrs}>Editar</a>
{END edit_page_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_view}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
