<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="uipj">
	{$uipj_editcontrol}
	</control>
	<control field="numFiscal">
	{$numFiscal_editcontrol}
	</control>
	<control field="a_oInv">
	{$a_oInv_editcontrol}
	</control>
	<control field="numInv">
	{$numInv_editcontrol}
	</control>
	<control field="Estado">
	{$Estado_editcontrol}
	</control>
	<control field="Mun">
	{$Mun_editcontrol}
	</control>
	<control field="FInicio">
	{$FInicio_editcontrol}
	</control>
	<control field="MinPub">
	{$MinPub_editcontrol}
	</control>
	<control field="Ofic">
	{$Ofic_editcontrol}
	</control>
	<control field="FExtrav">
	{$FExtrav_editcontrol}
	</control>
	<control field="Nombre">
	{$Nombre_editcontrol}
	</control>
	<control field="APat">
	{$APat_editcontrol}
	</control>
	<control field="AMat">
	{$AMat_editcontrol}
	</control>
	<control field="Sexo">
	{$Sexo_editcontrol}
	</control>
	<control field="EdadA">
	{$EdadA_editcontrol}
	</control>
	<control field="EdadM">
	{$EdadM_editcontrol}
	</control>
	<control field="Nac">
	{$Nac_editcontrol}
	</control>
	<control field="Origen">
	{$Origen_editcontrol}
	</control>
	<control field="Escolaridad">
	{$Escolaridad_editcontrol}
	</control>
	<control field="Est">
	{$Est_editcontrol}
	</control>
	<control field="Compl">
	{$Compl_editcontrol}
	</control>
	<control field="Ojos">
	{$Ojos_editcontrol}
	</control>
	<control field="Piel">
	{$Piel_editcontrol}
	</control>
	<control field="Cab">
	{$Cab_editcontrol}
	</control>
	<control field="TCab">
	{$TCab_editcontrol}
	</control>
	<control field="Cabcol">
	{$Cabcol_editcontrol}
	</control>
	<control field="Nariz">
	{$Nariz_editcontrol}
	</control>
	<control field="Labios">
	{$Labios_editcontrol}
	</control>
	<control field="Menton">
	{$Menton_editcontrol}
	</control>
	<control field="Cejas">
	{$Cejas_editcontrol}
	</control>
	<control field="VFacial">
	{$VFacial_editcontrol}
	</control>
	<control field="Delito">
	{$Delito_editcontrol}
	</control>
	<control field="Particularidades">
	{$Particularidades_editcontrol}
	</control>
	<control field="Nota">
	{$Nota_editcontrol}
	</control>
	<control field="DescHechos">
	{$DescHechos_editcontrol}
	</control>
	<control field="Obseva">
	{$Obseva_editcontrol}
	</control>
	<control field="Status">
	{$Status_editcontrol}
	</control>
	<control field="FAparicion">
	{$FAparicion_editcontrol}
	</control>
	<control field="Oficio">
	{$Oficio_editcontrol}
	</control>
	<control field="EstApar">
	{$EstApar_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>